In [12]:
import pandas as pd
import matplotlib.pyplot as plt

batting = pd.read_csv('data/Batting.csv')

print(batting.head())

    playerID  yearID  stint teamID lgID   G  AB  R  H  2B  ...  RBI   SB   CS  \
0  aardsda01    2004      1    SFN   NL  11   0  0  0   0  ...  0.0  0.0  0.0
1  aardsda01    2006      1    CHN   NL  45   2  0  0   0  ...  0.0  0.0  0.0
2  aardsda01    2007      1    CHA   AL  25   0  0  0   0  ...  0.0  0.0  0.0
3  aardsda01    2008      1    BOS   AL  47   1  0  0   0  ...  0.0  0.0  0.0
4  aardsda01    2009      1    SEA   AL  73   0  0  0   0  ...  0.0  0.0  0.0

   BB   SO  IBB  HBP   SH   SF  GIDP
0   0  0.0  0.0  0.0  0.0  0.0   0.0
1   0  0.0  0.0  0.0  1.0  0.0   0.0
2   0  0.0  0.0  0.0  0.0  0.0   0.0
3   0  1.0  0.0  0.0  0.0  0.0   0.0
4   0  0.0  0.0  0.0  0.0  0.0   0.0

[5 rows x 22 columns]

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

batting = pd.read_csv('data/Batting.csv')

top_hitters = (
    batting.groupby("playerID")["H"]
    .sum()
    .sort_values(ascending=False)
    .head(10)
)

top_hitters

# this shows the top 10 hitters by total hits in their careers.

playerID
rosepe01     4256
cobbty01     4189
aaronha01    3771
musiast01    3630
speaktr01    3514
jeterde01    3465
ansonca01    3435
wagneho01    3420
yastrca01    3419
pujolal01    3384
Name: H, dtype: int64

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

batting = pd.read_csv('data/Batting.csv')

active_players = batting[batting['AB'] > 0]
active_players.describe()
batting.groupby('playerID')['HR'].sum().sort_values(ascending=False)

# this shows the top 10 players by total home runs in their careers.

playerID
bondsba01    762
aaronha01    755
ruthba01     714
pujolal01    703
rodrial01    696
            ...
abadijo01      0
abadfe01       0
zmiched01      0
abbotky01      0
zettlge01      0
Name: HR, Length: 24011, dtype: int64